# Dependências do Projeto
# Pasta onde o npm armazena todos os módulos de dependência
code/backend/node_modules

# Arquivos de Build/Compilação
# Se você usar TypeScript ou ferramentas de build (ex: Webpack/Rollup)
code/backend/dist
code/backend/build

# Informações de Ambiente e Credenciais (CRUCIAL para o LocalStack/AWS)
# Nunca envie variáveis de ambiente ou chaves secretas
.env
.env.local
.DS_Store # (Arquivos de sistema do macOS)